
body{
    font-family: Waltograph;
}
.container{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("./images/Fondo.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-shadow: 0 0 20px gold;
    color: #EAE0C8;
    text-decoration: none;
}


h1, p{
    position: relative;
}

h1{
    margin: 0;
    font-size: 9em;
    top: 0vh;
}
    
p{
    font-size: 2.5em;
} 

 .NavLink{
    display:inline;
    text-decoration: none;
    color: #fff;
    font-size: 70px;
    position: relative;
    transition: .5s;
}




  .container a:hover {
    color: gold;
    font-size: 80px;
  }
