.conteiner{
    display: flex;
    justify-content: center;
}

.conteiner2{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.btnPag{
    background-color: transparent;
    color: #EAE0C8;
    margin: 5px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #EAE0C8;
}

.btnPag:hover{
    background-color:#EAE0C8;
    color: black;
}

.currentBtnPag{
    background-color:#EAE0C8;
    color: black;
    margin: 5px;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #EAE0C8;
}
